<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag params[:controller], media: 'all' %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>